{% extends 'user/base.html' %}
{% block title %}Homepage{% endblock %}
{% block extra_js %}
<script type="text/javascript">

$( document ).ready( function() {
 $('#label').keyup(function () {
      var text = $(this).val();
      if(text!='')
      $.ajax({
        url: "{% url 'user:check_label' %}",
        data: {
          'q': text,
          
        },
        dataType: 'json',
        success: function (data) {
          var answer=data['data'];
          if(answer=="true")
          {
            $('#alert').show();
            $("#submit_btn").attr("disabled","disabled");
          }
          else
          {
                $('#alert').hide();
              $("#submit_btn").removeAttr('disabled');
          }
            
        }
      });

    });
 });
</script>
{% endblock %}

{% block body %}
<div class="row">
{% for item in result %}
<div class = "col-sm-6 col-md-3">
      
      <div class='well'>
      <div class = "caption">
         <h3><center>{{item.label|title}}</center></h3>
         <p><center>Total:{{item.total_count}}</center></p>
         <br>
         <p>
           <div class="row">
           <center>
           <div class="col-md-8">
        
            <a href = "{% url 'user:dashboard' item.label %}" class = "btn btn-primary" role = "button">
         Go Inside     <i class="glyphicon glyphicon-forward"></i> 
            </a> 
            
            </div>
            <div class="col-md-4">
               
                <a href = "{% url 'user:edit_folder' item.label %}" class = "btn btn-primary"
                 role = "button" >
         Edit     <i class="glyphicon glyphicon-edit"></i> 
            </a> 
            
            </div>
            </center>
           </div>
            
         </p>
      </div>   
      </div>
   </div>
{% endfor %}
<div class = "col-sm-6 col-md-3">
      
      <div class='well'>
      <div class = "caption">
         <h3><center>Create New Folder</center></h3>
         <p><center><br></center></p>
         
         <p>
            <center>
            <button type="button" class="btn btn-success btn-md" data-toggle="modal" data-target="#myModal">Click Here</button>
            </center>
            
         </p>
      </div>   
      </div>
   </div>

</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><center>Create New Folder</center> </h4>
      </div>
      <div class="modal-body text-center">
        <div class="alert alert-danger alert-dismissible" id="alert" style="display:none;">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Danger!</strong> Folder Name already exist.
  </div>
        <div class="row">
            
        
        <div class="col-md-3">
       
        </div>
        <div class="col-md-6">
        <form class="form-horizontal" role="form" action="{% url 'user:create_label' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
        
        <div class="form-group">
            <label  for="label">
                             Enter Folder Name
                            </label>
            <input type="text" id="label" class="form-control"  autofocus name="label">
            
        </div>        
        <div class="form-group">
            
                                <button type="submit" id="submit_btn" class="btn btn-success">Create</button>
                           
        </div>

        </form>
        </div>
        
        <div class="col-md-3">
        </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


{% endblock %}
