{% extends 'user/base.html' %}
{% block title %}Homepage{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
            

            <div class="col-md-3">
            </div>
            <div class="col-md-6">
            

            <div class="panel panel-default">
                <div class="panel-body" align="center">
                    <h3 align="center">Search</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                  <form  method="GET" action="{% url 'user:query' %}">
    
        {% csrf_token %}
   
   <div class="form-group" >
     <div class="col-sm-9">
    
        <input id="q" type="text" class="form-control" name="q" placeholder="Search by Title">
     </div>
     <div class="col-sm-3">
      
  <select class="form-control" id="search_option" name="search_option" placeholder="Select Search option">
    <option>By Title</option>
    <option>By Author</option>
    <option>By Tag</option>
    
  </select>
     </div>
   </div>
<br>
<br>
<br>

<div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Search</button>
                            </div>
                        </div>
</form>

                </div>
               
            </div>
        </div>
            <div class="col-md-3">
            </div>



        
    </div>
</div>


<div class="col-md-2">
</div>

<div class="col-md-8">
  
<div class="list-group">

{% if  msg %}

<div class="col-md-8">
<center><h3 >No Results Found</h3></center>
</div>
{% else %}
  {%for item in results %}

   
    <div  class="list-group-item list-group-item-action flex-column  ">
        <div class="row">
          <div class="col-md-6"> 
            <span >
              <a href="{{ item.document.url }}"  style="text-decoration:none">&nbsp;&nbsp;&nbsp;
                <b>{{item.title}}
                </b>
              </a>
            </span>
          </div>
        <div class="col-md-6">  <small class="pull-right" >{{item.created_on}}</small>
        </div>
      </div>
      </br>
      <small class="text-muted">{{item.author|title}}</small>
      </br>


      <small class="text-muted">{{item.publisher}}</small>
      {% if item.publisher %}
      </br>
      {% endif %}

      <p class="mb-1">{{ item.branch|slice:":40"}}</p>
      <div class="row">

        <div class="col-lg-3 col-md-6 col-sm-6">
          &nbsp;&nbsp;&nbsp;

      <a  id="btn" data-toggle='tooltip' 
      title="Private Documents will not be visible in other Users search results"
      {%if item.visibilty == 'PUBLIC' %}
       class="btn btn-success" 
       {% else %}
       class="btn btn-danger" 
       {% endif %}
       >
      <div >{{item.visibilty}}</div>
        <div  style=" display: none"  >{{item.id}}</div>
  
    </a>
    </div>
     
    <div class=" col-lg-3 col-md-6 col-sm-6">

          <input type="text" name="doc_id" style=" display: none"  value={{item.id}}>
        <a  href="{% url 'user:editpost' item.id %}" class="btn btn-primary">Edit</a>
        
   
    </div>
     <div class=" col-lg-3 col-md-6 col-sm-6">

            
        <a  href="{% url 'user:download' item.id %}" class="btn btn-primary">
        Download
         </a>
        
   
    </div>
  
    <div class=" col-lg-3 col-md-6 col-sm-6">
      
      <span ><b class="text-info">Download Count</b>: {{item.downloads}}</span>
    </div>
  </div>
  </div>
    
{%endfor%}
</div>


{% endif %}
<div class="col-md-2">
</div>

{% endblock %}