{% extends 'user/base.html' %}
{% block title %}Search{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
            

        	<div class="col-md-3">
        	</div>
        	<div class="col-md-6">
        	

            <div class="panel panel-default">
                <div class="panel-body" align="center">
                    <h3 align="center">Search</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                  <form  method="GET" action="{% url 'user:query' %}">
    
        {% csrf_token %}
   
   <div class="form-group" >
     <div class="col-sm-9">
    
        <input id="q" type="text" class="form-control" name="q" placeholder="Search by Title">
     </div>
     <div class="col-sm-3">
      
  <select class="form-control" id="search_option" name="search_option" placeholder="Select Search option">
    <option>By Title</option>
    <option>By Author</option>
    <option>By Tag</option>
    
  </select>
     </div>
   </div>
<br>
<br>
<br>

<div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Search</button>
                            </div>
                        </div>
</form>

                </div>
               
            </div>
        </div>
            <div class="col-md-3">
        	</div>



        
    </div>
</div>
{% endblock %}